/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

nav {
    background-image: url(../Images/superlightnationalwalnuttexture.jpg);
    display: flex;
    justify-content: space-around;
    background-size: contain;
    align-items: center;
}

a{
    font-family: "Reenie Beanie";
    text-decoration: none;
    color: white;
    font-size: 3rem;
}
a:hover{
    color: grey;
}
button span{
    color: rgb(255, 255, 255);
    }
button span:hover{
color: grey;
}
.material-symbols-outlined {
    font-size: 3em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.title{
    color: white;
    font-family: "Reenie Beanie";
    font-size: 3rem;
}

.corkboard {
    background-image: url(../Images/depositphotos_14184241-stock-photo-cork-board-background.jpg);
    height: 100vh;
}
