.corkboard {
    background-image: url(../Images/depositphotos_14184241-stock-photo-cork-board-background.jpg);
}

body {
    font-family: 'Lato';

}

* {
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-family: "Reenie Beanie";
    font-weight: 500;
}